{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

<div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %}" style=" {% if collection.image %} background: url({{ collection.image.src | collection_img_url: 'original'  }}); {% endif %} background-repeat: no-repeat !important;background-position: 100% 100% !important;background-size: cover !important; " >
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
        <h1>{{- collection.title | escape -}}</h1>
        {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>            

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    }
  ]
}
{% endschema %}
